[Unit]
Description=ServerBox Monitor Service
After=network.target

[Service]
Type=simple
# Uncomment the following line to run as a specific user
# User=root
Restart=on-failure
RestartSec=5s
ExecStart=/usr/bin/server_box_monitor
WorkingDirectory=/home/xxx/.config/server_box

[Install]
WantedBy=default.target